.App {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

body{  background-color: aliceblue;}
 
.card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.ebrahim{
  background-color:darkgray;
 
}

.tree {
    margin-left: 15px;
    width: 97%;
}
.tree1 {
    margin-left: 15px;
    width: 48%;
}
.onclick{
  color: #007bff;
  text-decoration: none;
    background-color: transparent;
}
.onclick:hover{
  cursor: pointer;
}

.mytop{
border-top: 2px solid darkgray;
}
.text-secondary{
  padding: 7px;
  margin-left: -3px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
